APP_PORT=3000
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=teste-backed-ioasys
DB_HOST=127.0.0.1
DB_DIALECT=mysql
ADMIN_DEFAULT_USERNAME=admin_ioasys
ADMIN_DEFAULT_EMAIL=admin@ioasys.com.br
ADMIN_DEFAULT_PASSWORD=ioasys@2021